body {
  background-image: url('../img/emilia-home.jpg');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}

.content {
  margin-left: 20px;
}

#emiliacole {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  opacity: 0.75;
  line-height: 0px;
  color: black;
}

#titulo {
  background-color: rgba(255,255,255,0.25);
  color: black;
}
